html,
body,
div,
section,
header,
footer,
h1,
h2,
h3,
a {
    margin: 0;
    padding: 0;
}

.clearfix:after {
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

body {
    background: url("../images/background-image.png");
    font-family: 'Open Sans', sans-serif;
    color: #944F00;
    font-size: 20px;
}

#wrapper {
    margin: 0 auto;
    width: 960px;
    text-align: center;
}

#wrapper header img {
    padding: 20px 0;
    width: 20%;;
}

section {
    margin: 40px 0;
}

.placeholder {
    float: left;
    width: 33.3%;
}

h1 {
    font-size: 60px;
}

h2 {
    margin-bottom: 40px;
    padding: 10px 10px;
    border-radius: 20px;
    background: #E18A27;
    color: #114A61;
    font-weight: 200;
    font-size: 34px;
}

h3 {
    font-weight: normal;
    font-size: 30px;
}

a > img {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
}

.button {
    padding: 10px;
    border: 1px solid #944F00;
    border-radius: 10px;
    background: #E18A27;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
}

.button:hover {
    background: #944F00;
}

footer {
    margin-top: 50px;
}

/*Canvas Styles*/
#canvas-container {
    width: 100%;
    text-align: center;
}

canvas {
    float: left;
}

#user-controls {
    float: left;
    margin: 30px 60px;
    padding: 20px 30px;
    border: 6px solid #E18A27;
    border-radius: 6px;
    
}